<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.config.title}}</title>
</head>
<body>
    <div id="{{htmlWebpackPlugin.options.config.dom.root}}"></div>
</body>
</html>
